.SelectionPanel {
  width: 100%;
  height: 640px;
  background-color: #eff3f4;
  overflow-y: auto;
}

.text-middle {
  margin-top: 18rem;
  width: 100%;
  text-align: center;
}

.react-fa {
  margin-right: 0.25rem;
  color: #55acee;
}

.overview {
  font-size: 0.8rem;
  line-height: 1rem;
}
