.toggle-overlay {
  cursor: pointer;
}

.modal {
  top: 3rem;
  right: 0.25rem;
  width: 18rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

div.checkbox {
  margin-bottom: 0.3rem;
}

.arrow_box {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
}

.arrow_box::after,
.arrow_box::before {
  bottom: 100%;
  left: 92%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box::after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.arrow_box::before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #ccc;
  border-width: 9px;
  margin-left: -9px;
}
